global-exclude *.py[cod]
prune __pycache__
include LICENSE
include README.rst
include pyproject.toml
include CHANGELOG.rst
recursive-include flag/locale *
recursive-include flag/templates *
recursive-include flag/static *
prune testapp
prune tests
prune docs
prune .scripts
exclude tox.ini
exclude .pre-commit-config.yaml
exclude codecov.yml
exclude manage.py
exclude CONTRIBUTING.rst
